// Import page-specific CSS files here.
@import "home";

body {
  background: rgba(20, 34, 51, 0.95);
  background-image: url("https://res.cloudinary.com/dwtuoc2xm/image/upload/v1591267240/background_udclij.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
}
