<div class="">
  <div class="main-container">
    <div class="row sorted">
      <%  @follows.each do |follow| %>
        <% if follow.identity.provider == "twitch" || follow.identity.provider == "smashcast" %>
          <%= render "shared/card_template", :follow => follow,
                                             :provider => follow.identity.provider,
                                             :provider_url => follow.identity.provider + ".tv" %>
        <% else %>
          <%= render "shared/card_template", :follow => follow,
                                             :provider => follow.identity.provider,
                                             :provider_url => follow.identity.provider +  ".com" %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
