<div class="main-container">
  <div class="row">
    <div class="col-6 col-xl-4">
      <div class="main-card box-shadow">
        <p class="viewer-count text-right pr-1 pt-1 shadowed">10,000 <i class="fas fa-eye views"></i></p>
        <div class="d-flex blur box-shadow">
          <div class="elipse box-shadow">
            <div>
              <h5 class="streamer-name shadowed">FAKER</h5>
            </div>
          </div>
        </div>
        <div class="overlay1 overlayFade1">
          <div class="text-card1">
            <div class="text-center">
              <i id="" class="text-center shadowed fab fa-twitch provider-icon "></i>
            </div>
            <h5 id="streamer-name-pop-up" class="text-left ml-2 shadowed pt-5"> Faker </h5>
            <p id="streamer-game-pop-up" class="text-left ml-2 shadowed game">League of Legends </p>
          </div>
        </div>
        <div class="overlay2 overlayFade2">
          <img class="" src="https://static-cdn.jtvnw.net/ttv-boxart/League%20of%20Legends-285x380.jpg" alt="">
        </div>
      </div>
    </div>
     <div class="col-6 col-xl-4">
      <div class="main-card box-shadow">
        <div class="d-flex blur box-shadow">
          <div class="elipse box-shadow">
            <div>
              <h5 class="streamer-name shadowed">FAKER</h5>
            </div>
          </div>
        </div>
        <div class="overlay1 overlayFade1">
          <div class="text-card1">
            <div class="text-center">
              <i id="" class="text-center shadowed fab fa-twitch provider-icon "></i>
            </div>
            <h5 id="streamer-name-pop-up" class="text-left ml-2 shadowed pt-5"> Faker </h5>
            <p id="streamer-game-pop-up" class="text-left ml-2 shadowed game">League of Legends </p>
          </div>
        </div>
        <div class="overlay2 overlayFade2">
          <img class="" src="https://static-cdn.jtvnw.net/ttv-boxart/League%20of%20Legends-285x380.jpg" alt="">
        </div>
      </div>
    </div>
     <div class="col-6 col-xl-4">
      <div class="main-card box-shadow">
        <div class="d-flex blur box-shadow">
          <div class="elipse box-shadow">
            <div>
              <h5 class="streamer-name shadowed">FAKER</h5>
            </div>
          </div>
        </div>
        <div class="overlay1 overlayFade1">
          <div class="text-card1">
            <div class="text-center">
              <i id="" class="text-center shadowed fab fa-twitch provider-icon "></i>
            </div>
            <h5 id="streamer-name-pop-up" class="text-left ml-2 shadowed pt-5"> Faker </h5>
            <p id="streamer-game-pop-up" class="text-left ml-2 shadowed game">League of Legends </p>
          </div>
        </div>
        <div class="overlay2 overlayFade2">
          <img class="" src="https://static-cdn.jtvnw.net/ttv-boxart/League%20of%20Legends-285x380.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
  <div class="row">
   <div class="col-6 col-xl-4">
      <div class="main-card box-shadow">
        <div class="d-flex blur box-shadow">
          <div class="elipse box-shadow">
            <div>
              <h5 class="streamer-name shadowed">FAKER</h5>
            </div>
          </div>
        </div>
        <div class="overlay1 overlayFade1">
          <div class="text-card1">
            <div class="text-center">
              <i id="" class="text-center shadowed fab fa-twitch provider-icon "></i>
            </div>
            <h5 id="streamer-name-pop-up" class="text-left ml-2 shadowed pt-5"> Faker </h5>
            <p id="streamer-game-pop-up" class="text-left ml-2 shadowed game">League of Legends </p>
          </div>
        </div>
        <div class="overlay2 overlayFade2">
          <img class="" src="https://static-cdn.jtvnw.net/ttv-boxart/League%20of%20Legends-285x380.jpg" alt="">
        </div>
      </div>
    </div>
     <div class="col-6 col-xl-4">
      <div class="main-card box-shadow">
        <div class="d-flex blur box-shadow">
          <div class="elipse box-shadow">
            <div>
              <h5 class="streamer-name shadowed">FAKER</h5>
            </div>
          </div>
        </div>
        <div class="overlay1 overlayFade1">
          <div class="text-card1">
            <div class="text-center">
              <i id="" class="text-center shadowed fab fa-twitch provider-icon "></i>
            </div>
            <h5 id="streamer-name-pop-up" class="text-left ml-2 shadowed pt-5"> Faker </h5>
            <p id="streamer-game-pop-up" class="text-left ml-2 shadowed game">League of Legends </p>
          </div>
        </div>
        <div class="overlay2 overlayFade2">
          <img class="" src="https://static-cdn.jtvnw.net/ttv-boxart/League%20of%20Legends-285x380.jpg" alt="">
        </div>
      </div>
    </div>
     <div class="col-6 col-xl-4">
      <div class="main-card box-shadow">
        <div class="d-flex blur box-shadow">
          <div class="elipse box-shadow">
            <div>
              <h5 class="streamer-name shadowed">FAKER</h5>
            </div>
          </div>
        </div>
        <div class="overlay1 overlayFade1">
          <div class="text-card1">
            <div class="text-center">
              <i id="" class="text-center shadowed fab fa-twitch provider-icon "></i>
            </div>
            <h5 id="streamer-name-pop-up" class="text-left ml-2 shadowed pt-5"> Faker </h5>
            <p id="streamer-game-pop-up" class="text-left ml-2 shadowed game">League of Legends </p>
          </div>
        </div>
        <div class="overlay2 overlayFade2">
          <img class="" src="https://static-cdn.jtvnw.net/ttv-boxart/League%20of%20Legends-285x380.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
