<div class="footer">
  <div class="">
    <div class="footer-links main-footer-text">
      <p class="footer-text mr-2">© 2020 StreamHub, Inc. All rights reserved</p>
      <div class="footer-links">
         <a href="https://github.com/RobinD57/rails-streamhub" target="blank"><i class="fab fa-github"></i></a>
      </div>
    </div>
  </div>
</div>

