
<div class="loader-wrapper">
  <div class="loading"></div>
</div>


<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"> </script>
 <script>
    setTimeout(function(){
      $('.loader-wrapper').fadeToggle();
    }, 1500);
</script> -->

<!-- <script type="text/javascript">
$(window).on("load",function(){
  $(".loader-wrapper").fadeOut("slow");
});
</script>
 -->
