<div class="turbolinks-progress-bar"></div>
<div id="nav" class="navbar navbar-main sticky-top">
  <div class="blurry"></div>
  <div>
    <%= link_to  follows_path do  %>
      <img id= "logo-big" src="https://res.cloudinary.com/dwtuoc2xm/image/upload/v1591093402/white_logo_transparent_background_uqnxhu.png" alt="Streamhub" class="navbar-logo">
      <i id= "logo-small" class="fas fa-tv shadowed mb-1"></i>
    <% end %>
  </div>
  <button class="navbar-toggler ml-1" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <i id="settings" class="fas fa-sliders-h ml-4 mt-3 "></i>
    <i id="arrow" class="fas fa-caret-down"></i>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div id="nav-expanse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active ">
          <%= link_to "Settings", "#", class: "nav-link stroke" %>
        </li>
        <li class="nav-item ">
          <%= render "shared/modal_link" %>
        </li>
        <li class="nav-item ">
          <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link stroke" %>
        </li>
      </ul>
    </div>
  </div>
</div>

