<div class="navbar navbar-main-landing">
  <div>
    <%= link_to  root_path do  %>
    <img src="https://res.cloudinary.com/dwtuoc2xm/image/upload/v1591093402/white_logo_transparent_background_uqnxhu.png" alt="Streamhub" class="navbar-logo">
    <i id= "logo-small" class="fas fa-tv"></i>
    <% end %>
  </div>
  <button class="navbar-toggler ml-1" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div id="nav-expanse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <%= link_to "Settings", "#", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Link a new account", "#", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link" %>
        </li>
      </ul>
    </div>
  </div>
</div>
