<div class="navbar navbar-main sticky-top">
  <div>
    <%= link_to  root_path do  %>
    <div class ="pt-2" id="logo-big">StreamHub</div>
    <i id= "logo-small" class="fas fa-tv"></i>
    <% end %>
  </div>
  <button class="navbar-toggler ml-1" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fas fa-sliders-h ml-3 mb-2"></i>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div id="nav-expanse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <%= link_to "Settings", "#", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Link a new account", "#", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link" %>
        </li>
      </ul>
    </div>
  </div>
</div>

