<div class="sort d-flex">
  <span class="shadowed sortby">sort by:</span>
  <div class="shadowed sort-btn ml-2 mr-2 viewers-filter"> views </div>
  <span class="shadowed sortby"> | </span>
  <div class="shadowed sort-btn ml-2 alpha-filter"> name </div>
</div>
