<div class="sort d-flex">
  <span class="shadowed sortby p-1">sort by:</span>
  <div class="shadowed sort-btn p-1 views-filter"> views </div>
  <span class="shadowed sortby p-1"> | </span>
  <div class="shadowed sort-btn p-1 alpha-filter"> name </div>
</div>
