.main-container {
  width: 90%;
  margin: 0 auto;
}

a:hover, a:visited, a:link, a:active{
  text-decoration: none;
}

.main-card {
  position: relative;
  width: 400px;
  height: 250px;
  background-size: cover;
  border-radius: 5px !important;
  transition: all 0.4s ease;
  margin-top: 40px;
};


.main-card:hover {
  box-shadow:-10px 10px 1px 0px rgba(0, 24, 48, .5) !important;

}

.overlay1 {
  position: relative;
  opacity: 0;
  background-color: rgba(56, 78, 119, 0.9);
  border-radius: 5px;
  width: 100%;
  height: 100%;
  bottom: 89px;
  visibility: none;
}

.main-card:hover .overlay1 {
  opacity: 1;
  visibility: visible;
  transition: all .5s ease;

}

.main-card:hover .viewer-count  {
  z-index: 1050;
}

.main-card:hover .blur{
  opacity:0;
  transition: all .5s ease;
}

.overlay2 {
  position: relative;
  opacity: 0;
  border-radius: 5px !important;
  z-index:1;
  visibility: hidden;
  height: 100%;
  width: 50%;
}

.overlay2 img {
  position: relative;
  height: 35%;
  width: 35%;
  object-fit: cover;
  border-radius: 3px !important;
  opacity: .95;
  bottom: 185px;
  left: 312px;
}

.main-card:hover .overlay2 {
  opacity: 1;
  visibility: visible;
  transition: all .5s ease;
}

.viewer-count {
  position: relative;
  color: white;
  font-size: 12px;
  opacity: 1;
}

#viewer-background {
  position: relative;
  background: rgba(20, 34, 51, 0.7);
  margin-left: 323px;
  width: 70px;
  border-radius: 8px;
  top: 5px;
}

#stream-title {
 padding-top: 30px;
 font-family: Montserrat;
 font-weight: bold;
 padding-left: 5px;
 padding-right: 5px;
}

.blur {
  position: relative;
  width: 100%;
  height: 22%;
  top: 161px;
  background: rgba(196, 196, 196, 0.4);
  border-radius: 5px;
}

.elipse {
  position: relative;
  width: 44.15px;
  height: 45.47px;
  left: 10px;
  top: 6px;
  background-size: auto;
  background: url(https://static-cdn.jtvnw.net/jtv_user_pictures/b2eb8a23-d6ad-45aa-bd8e-062133b64452-profile_image-50x50.png);
  border-radius: 5px;
}

.streamer-name {
  color: white;
  position: relative;
  width: 54.15px;
  height: 55.47px;
  left: 64px;
  top: 12px;
  opacity: .9;
  font-size:medium;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  font-weight: 900;
}


#streamer-name-pop-up {
  color: #D7D7D7;
  opacity: 1;
  font-size:medium;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  margin-top: 7px;
  margin-bottom: 3px;
  padding-left: 13px;
}

#streamer-game-pop-up {
  color: #D7D7D7;
  opacity: 1;
  font-size:medium;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 21px;
  padding-left: 15px;
  padding-top: 0px;
}

.provider-icon {
  position: relative;
  color: #D7D7D7;
  opacity: .15;
  font-size: 76px;
  line-height: 21px;
  padding-top: 50px;
}

.shadowed {
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.box-shadow {
  box-shadow: -2px 0px 5px rgba(7, 23, 79, 0.5) !important;
}

.deep-shadow {
  text-shadow:
    -0.0075em 0.0075em 0 mix(#fff, grey, 94%),
    0.005em 0.005em 0 mix(#fff, grey, 60%),
    0.01em 0.01em 0 mix(#fff, grey, 62%),
    0.015em 0.015em mix(#fff, grey, 64%),
    0.02em 0.02em 0 mix(#fff, grey, 66%),
    0.025em 0.025em 0 mix(#fff, grey, 68%),
    0.03em 0.03em 0 mix(#fff, grey, 70%),
    0.035em 0.035em 0 mix(#fff, grey, 72%);
}

.turbolinks-progress-bar {
  height: 5px;
  background-color: green;
}

