
.signup-devise-link {
  padding-top: 5px;
  color: #5C68A8;
  font-size: 15px;
}

.signup-devise-link:hover{
  color: #384E77;
}

.forgotpass-devise-link {
  padding-top: 5px;
  color: #5C68A8;
  font-size: 15px;
}

.forgotpass-devise-link:hover {
  color: #384E77;
}

.login-devise-link {
  padding-top: 5px;
  color: #5C68A8;
  font-size: 15px;
}

.login-devise-link:hover {
  color: #384E77;
}
