
.signup-devise-link {
  color: #5C68A8;
  font-size: 14px;
}

.signup-devise-link:hover{
  color: #384E77;
  opacity: 1;
}

.forgotpass-devise-link {
  padding-top: 5px;
  color: #5C68A8;
  font-size: 14px;
}

.forgotpass-devise-link:hover {
  color: #384E77;
  opacity: 1;
}

.login-devise-link {
  padding-top: 7px;
  color: #5C68A8;
  font-size: 14px;
}

.login-devise-link:hover {
  color: #384E77;
}
