.outer-box-form {
  background: #263445;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  margin: 50px;
  padding: 40px;
  height: 500px;
  width: 400px;
}

.form-inputs {
  color: white;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 200;
}

.login-title {
  text-align: center;
  color: white;
}

.login-title h6{
  font-family: Montserrat;
  font-weight: 200;
}

.form-logo {
  width: 300px;
  text-align: center;
}

.login-input {
  background: #4d6b8e;
  border: 1px solid #384E77;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.submit-login-button {
  border-radius: 5px;
  background-color: #384E77;
  width: 100%;
  color: white;
  font-family: Montserrat;
}

.submit-login-button:hover {
  background-color: #5C68A8;
  color: white;
  font-family: Montserrat;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
  width: 200px;
  text-align: center;
}

