body, html {
  height: 100%;
}

.bgimg1 {
  /* The image used */
  background-image: url("https://res.cloudinary.com/dwtuoc2xm/image/upload/v1591089252/background10_jfb5ma.jpg");
  height: 100%;
}

.bgimg2 {
  /* The image used */
  background-image: url("https://res.cloudinary.com/dwtuoc2xm/image/upload/v1591089251/background3_dvgvaf.jpg");
  height: 40%;
}

.bgimg3 {
  /* The image used */
  background-image: url("https://res.cloudinary.com/dwtuoc2xm/image/upload/v1591089255/background1_iygssz.jpg");
  height: 70%;
}

.bgimg1, .bgimg2, .bgimg3 {
  /* Create the parallax scrolling effect */
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.color-box1 {
  color: #777;
  background-color: black;
  text-align: center;
  padding: 70px 100px;
  text-align: justify;
  }

  .color-box2 {
  color: #777;
  background-color: #142233;
  text-align: center;
  padding: 70px 100px;
  text-align: justify;
  }


.btn-gradient {
  position: absolute;
  left: 45%;
  top: 50%;
  width: 200px;
  text-align: center;
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#1B2944, #384E77);
  transition: background 0.3s ease;
  border: 1px solid #384E77;
}

.btn-gradient:hover {
  position: absolute;
  left: 45%;
  top: 50%;
  width: 200px;
  text-align: center;
  background: linear-gradient(#1B2944, #384E77);
  color: white;
}
