body, html {
  height: 100%;
}

.bgimg1 {
  /* The image used */
  background-image: url("https://res.cloudinary.com/dwtuoc2xm/image/upload/v1591089252/background10_jfb5ma.jpg");
  height: 100vh;
}

.bgimg2 {
  /* The image used */
  background-image: url("https://res.cloudinary.com/dwtuoc2xm/image/upload/v1591089253/background8_zqnmma.jpg");
  height: 50%;
}

.bgimg3 {
  /* The image used */
  background-image: url("https://res.cloudinary.com/dwtuoc2xm/image/upload/v1591201029/background3_jihuoc.jpg");
  height: 70%;
}

.bgimg1, .bgimg2, .bgimg3 {
  /* Create the parallax scrolling effect */
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.color-box1 {
  color: #D7D7D7;
  background-color: #060f19;
  text-align: center;
  padding: 70px 100px;
  text-align: justify;
  }

  .color-box2 {
  color: #D7D7D7;
  background-color: #101923;
  text-align: right;
  padding: 70px 100px;
  text-align: justify;
  }

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: #263445;
  color: #D7D7D7;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}
