.signin-box {
  display: flex;
}

.title-gif {
  margin-top: 90px;
  display: block;
  margin-bottom: 10px;
  color: #D7D7D7;
  font-weight: bold;
}

#giftwitch {
  width: 400px;
  height: 300px;
  margin-top: 60px;
}
