.outer-box-form-home {
  background: #263445f5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  margin: 25px;
  padding-top: 30px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 30px;
  height: 500px;
  width: 380px;
  margin-right: 5%;
}

.signin-box {
  padding-top: 5%;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
  align-items: flex-end;
  align-content: center;
  // background-color: #14223385;
  // box-shadow: 0px 0px 40px 40px #00000085
}

.signin-button {
  text-align: center;
  color: white;
  font-size: 14px;
  background-color: #5c68a9;
  padding-top: 11px;
  border-radius: 5px;
  font-family: Montserrat;
  height: 7vh;
  i {
    font-size: 30px;
    margin-top: 4px;
    margin-right: 5px;
  }
}
.signin-button:hover {
  background-color: #6d7bc9;
}

.spaced {
  margin-top: 12%;
}

.signin-button span {
  vertical-align: super;
  font-size: 15px;
}

.title-gif {
  margin: 20px;
  display: block;
  color: #D7D7D7;
  text-shadow: -2px 1px 6px #0e0000;
  font-family: Montserrat;
  font-weight: 200;
  flex-direction: column;
  flex-shrink: 1;
  text-align: center;
}

.title-gif h1{
  font-family: Montserrat;
  font-weight: 600px;
  margin:auto;
  padding: 10px;
}

#giftwitch {
  width: 550px;
  height: 350px;
  margin-top: 8%;
  border-radius: 5px;
}

@media only screen and (max-width: 1440px) {
  .outer-box-form-home {
    height: unset;
    min-height: fit-content;
  }
  .signin-box {
    height: unset;
    min-height: fit-content;
  }
}
