@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;600&display=swap');

.signin-box {
  display: flex;
  margin-left: 10%;
  margin-right: 10%;
  justify-content: center;
  background-color: #14223385;
  box-shadow: 0px 0px 40px 40px #00000085
}

.title-gif {
  margin-top: 90px;
  margin-bottom: 10px;
  margin-right: 50px;
  display: block;
  color: #D7D7D7;
  font-family: Montserrat;
  font-weight: 200;
}

.title-gif h1{
  font-family: Montserrat;
  font-weight: 600px;
}

#giftwitch {
  width: 400px;
  height: 300px;
  margin-top: 40px;
}
