.sort {
  width: 15%;
  right: 10%;
  position: absolute;
}

.sort-btn{
  font-family: Montserrat;
  font-weight: bold;
  font-size: 12px;
  color: white;
  opacity: 0.8;
}

.sort-btn:hover {
  text-decoration: none !important;
  cursor: pointer;
  opacity: 1;
}

.sort a:hover, .sort a:visited, .sort a:link, .sort a:active{
  text-decoration: none !important;
}

.sortby {
  color: white;
  font-size: 12px;
  font-family: Montserrat;
  opacity: .7;
  flex-shrink: 0;

}

.underline {
  position: relative;
  display: inline-block !important;
}

.underline:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  content: '.';
  color: transparent;
  background: #aaa;
  height: 1px;
  width:100%;
  transition: all .5s;
}


.sort-btn:hover {
  background-color: rgba(56, 78, 119, .1);
  text-decoration: none !important;
}

.dropdown-menu {
  border: none !important;
  background-color: rgba(56, 78, 119, 0.6);
  border-radius: 5px !important;
 button {
  color: white;
  }
}

.dropdown-menu button:hover {
  background-color: rgba(56, 78, 119, .9);
  color: white;
  text-decoration: none;
}


